@import './fonts.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #e6e6ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', sans-serif;
}

.board-container {
    width: calc(100vh - 17rem);
    height: calc(100vh - 17rem);
    margin: 8.5rem auto;
}

.btn {
    border: 1px solid #778877;
    background-color: #aabbaa;
    color: #333333;
    font-size: 1.5rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;

    &:hover {
        background-color: #ccddcc;
    }

    &:active {
        box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1);
    }
}