<app-life-header></app-life-header>
<div class="board-container">
    <app-life-board  [gameState]="gameState"></app-life-board>
</div>
<app-life-footer>
    <button (click)="toggleStart()" class="btn">{{ctrlButtonText}}</button>
    <button (click)="step()" class="btn">Step</button>
    <app-pattern-selector [stateList]="gameSummaries" (selectedStateChange)="loadPattern($event)"></app-pattern-selector>
</app-life-footer>