.page-footer {
    width: 100%;
    height: 5rem;
    background-color: #114444;
    background: linear-gradient(#4444ff, #ccccff);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 3rem;
}