<div>
  <select class="selector" [(ngModel)]="selectedState" (change)="update($event)">
    <option *ngFor="let description of stateList"[ngValue] ="description">{{description.name}}</option>
  </select>
</div>